@import "tailwindcss";

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

html, body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;  
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

/* Prevent all text selection by default */
body, #app, .no-select, * {
  user-select: none;
}

/* Allow selection for form fields and editable content */
input, textarea, [contenteditable], input *, textarea * {
  user-select: text;
}
